@font-face {
  font-family: Roboto-Black;
  src: url(../../Fonts/Roboto/Roboto-Black.ttf);
}

@font-face {
  font-family: Roboto-BlackItalic;
  src: url(../../Fonts/Roboto/Roboto-BlackItalic.ttf);
}

@font-face {
  font-family: Roboto-Bold;
  src: url(../../Fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto-BoldItalic;
  src: url(../../Fonts/Roboto/Roboto-BoldItalic.ttf);
}

@font-face {
  font-family: Roboto-Italic;
  src: url(../../Fonts/Roboto/Roboto-Italic.ttf);
}

@font-face {
  font-family: Roboto-Light;
  src: url(../../Fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: Roboto-LightItalic;
  src: url(../../Fonts/Roboto/Roboto-LightItalic.ttf);
}

@font-face {
  font-family: Roboto-Medium;
  src: url(../../Fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto-MediumItalic;
  src: url(../../Fonts/Roboto/Roboto-MediumItalic.ttf);
}

@font-face {
  font-family: Roboto-Regular;
  src: url(../../Fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-Thin;
  src: url(../../Fonts/Roboto/Roboto-Thin.ttf);
}

@font-face {
  font-family: Roboto-ThinItalic;
  src: url(../../Fonts/Roboto/Roboto-ThinItalic.ttf);
}
